.decors-block {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 34px;
    text-transform: uppercase;
    color: #333333;
    text-align: center;
}

.decors-tabs {
    max-width: 1140px;
    height: 50px;
    background: #F4F4F4;
    border: 1px solid #99CB38;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.decors-tabs span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #9B9B9B;
    border-radius: 30px;
    width: 165px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.decors-MDF-P  {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    font-variant: small-caps;
    color: #000000;
    text-align: left;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;

}

.decors-card {
    height: auto;
    width: auto;
    background: #333333;
}

.decors-matte-card {
    display: grid;
    /* Автоматически заполняем на всю ширину grid-контейнера */
    grid-template-columns: repeat(auto-fill, 258px);
    width: 100%;
    max-width: 1190px; /* Ширина grid-контейнера */
    justify-content: center;
    justify-items: center; /* Размещаем карточку по центру */
    column-gap: 30px; /* Отступ между колонками */
    row-gap: 30px; /* Отступ между рядами */
    padding-bottom: 50px;
}

.decors-matte-card img {
    width: 258px;
    height: 258px;
}

.decors-matte h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 34px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    padding-top: 20px;
}

.Chipboard-decors h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 34px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    padding-top: 20px;
}

.Chipboard-decors-card {
    display: grid;
    /* Автоматически заполняем на всю ширину grid-контейнера */
    grid-template-columns: repeat(auto-fill, 258px);
    width: 100%;
    max-width: 1190px; /* Ширина grid-контейнера */
    justify-content: center;
    justify-items: center; /* Размещаем карточку по центру */
    column-gap: 30px; /* Отступ между колонками */
    row-gap: 30px; /* Отступ между рядами */
    padding-bottom: 50px;
}

.Chipboard-decors-card img {
    width: 258px;
    height: 294px;

}

.Chipboard-decors-P {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    font-variant: small-caps;
    color: #000000;
    text-align: left;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.ARPA-PLASTIC {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 34px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    padding-top: 20px;
}

.ARPA-PLASTIC-card {
    display: grid;
    /* Автоматически заполняем на всю ширину grid-контейнера */
    grid-template-columns: repeat(auto-fill, 258px);
    width: 100%;
    max-width: 1190px; /* Ширина grid-контейнера */
    justify-content: center;
    justify-items: center; /* Размещаем карточку по центру */
    column-gap: 30px; /* Отступ между колонками */
    row-gap: 30px; /* Отступ между рядами */
    padding-bottom: 50px;
}

.ARPA-PLASTIC-P {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    font-variant: small-caps;
    color: #000000;
    text-align: left;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.FACADES-ENAMEL p {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    font-variant: small-caps;
    color: #000000;
    text-align: left;
}

.handles-decors {
    display: grid;
    /* Автоматически заполняем на всю ширину grid-контейнера */
    grid-template-columns: repeat(auto-fill, 258px);
    width: 100%;
    max-width: 1190px; /* Ширина grid-контейнера */
    justify-content: center;
    justify-items: center; /* Размещаем карточку по центру */
    column-gap: 30px; /* Отступ между колонками */
    row-gap: 30px; /* Отступ между рядами */
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.FACADES-ENAMEL h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 34px;
    text-transform: uppercase;
    color: #000000;
    text-align: left;
    padding-top: 20px;
}

.FACADES-ENAMEL img {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.table-top-decors-card {
    display: grid;
    /* Автоматически заполняем на всю ширину grid-контейнера */
    grid-template-columns: repeat(auto-fill, 258px);
    width: 100%;
    max-width: 1190px; /* Ширина grid-контейнера */
    justify-content: center;
    justify-items: center; /* Размещаем карточку по центру */
    column-gap: 30px; /* Отступ между колонками */
    row-gap: 30px; /* Отступ между рядами */
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.table-top-decors h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 34px;
    text-transform: uppercase;
    color: #F4F4F4;
    text-align: center;
    padding-top: 20px;
}

.ARPA-PLASTIC-P {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    font-variant: small-caps;
    color: #000000;
    text-align: left;
}
.tab__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #9B9B9B;
    border-radius: 30px;
    width: 165px;
    height: 40px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.active-tab {
    background: #99CB38 ;
    border-radius: 30px;
    color: white !important;
}

.decors-matte-card {
    margin-left: auto;
    margin-right: auto;
    
    text-align: center;
}

.Chipboard-decors-card {
    margin-left: auto;
    margin-right: auto;
    
    text-align: center;
}

@media (max-width:600px){
    .decors-tabs {
        border: none;
        background: none;
        height: 156px;
        display: grid;
    /* Автоматически заполняем на всю ширину grid-контейнера */
    grid-template-columns: repeat(auto-fill, 138px);
    width: 100%;
    max-width: 1190px; /* Ширина grid-контейнера */
    justify-content: center;
    justify-items: center; /* Размещаем карточку по центру */
    column-gap: 20px; /* Отступ между колонками */
    row-gap: 10px; /* Отступ между рядами */
    margin-bottom: 30px;
    }
    .decors-MDF-P  {
        font-size: 14px;
    }
    .Chipboard-decors-P   {
        font-size: 14px;
    }
    .FACADES-ENAMEL p {
        font-size: 14px;
    }
    .ARPA-PLASTIC-P   {
        font-size: 14px;
    }
    .decors-block {
        font-size: 25px;
    }
}