.footer-block {
    width: auto;
    background: #333333;
    height: 260px;
}

.footer-logo-block {
    width: 253px;
    height: 176px;
}

.footer-logo-block p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.conteiner-footer {
    display: flex;
}

.footer-chapter-block {
    width: 170px;
    height: 193px;
    margin-left: 137px;
    margin-right: 170px;
}

.footer-chapter-block span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #818181;
}

.footer-chapter-block p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.footer-connection-block {
    width: 457px;
    height: 147px;
}

.footer-connection-block p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #818181;
}


.soc-network {
    display: flex;
}
.soc-network>img>span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    padding-left: 10px;
}
.soc-network-tel span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    padding-left: 11px;
}
.soc-network-tel p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    padding-left: 31px;
}

.soc-network-img {
    width: 21.62px;
    height: 15.5px;
}
.soc-network-img:nth-child(2) {
    height: 21px !important;
    width: 21px !important;
}



.soc-network-connection {
    display: block;
    align-items: center;
    margin-left: 80px;
}

.soc-network-connection-dop {
    display: flex;
    align-items: center;
}

.soc-network-connection-dop  span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    padding-left: 11px;

}

.footer-chapter-block>p>a:hover {
    color: #99CB38;
}

.footer-chapter-block>p>a {
    color: #ffffff;
}

@media(max-width:1150px){
    .footer-chapter-block {
        margin-right: 10px;
        margin-left: 10px;
    }
    .soc-network-connection {
        margin-left: 20px;
        width: 180px;
    }
}

@media(max-width:800px){
    .soc-network {
        display: block;
    }
    .footer-block {
        width: auto;
    }
    .footer-connection-block {
        width: 170px;
    }
    .conteiner-footer {
        width: 600px;
    }
}
@media(max-width:700px){
    .soc-network {
        display: block;
    }
    .conteiner-footer {
        display: block;
        height: auto;
        background: #333333;
        width: 240px;
        margin-right: auto;
        margin-left: auto;
    }    
    .footer-block {
        height: 650px;
        margin-right: auto;
        margin-left: auto;
    }
}