.Hardware-meterials-block h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
}

.conteiner-Hardware {
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
}

.Hardware-meterials-card {
    height: 400px;
    width: 360px;
    position: relative;
    background: #FFFFFF;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);

    border: none;
}

.Hardware-meterials-card h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    text-transform: uppercase;
    color: #333333;
    padding-left: 20px;
}

.Hardware-meterials-card p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #333333;
    padding-left: 20px;
    padding-right: 20px;
}

.Hardware-meterials-cards {
    display: grid;
    /* Автоматически заполняем на всю ширину grid-контейнера */
    grid-template-columns: repeat(auto-fill, 360px);
    width: 100%;
    max-width: 1140px; /* Ширина grid-контейнера */
    justify-content: center;
    justify-items: center; /* Размещаем карточку по центру */
    column-gap: 30px; /* Отступ между колонками */
    row-gap: 20px; /* Отступ между рядами */
    margin-top: 35px;
    
}

.Hardware-meterials-card-btn {
    background: linear-gradient(269.89deg, #FBD846 0.07%, #FFE888 99.89%);
    box-shadow: 5px 8px 5px rgba(248, 204, 85, 0.1);
    border-radius: 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
    width: 320px;
    height: 40px;
    cursor: pointer;
    border: none;
    position: absolute;
    bottom: 25px;
    left: 20px;
    right: 20px;
}

.Hardware-meterials-card:hover ~ .Hardware-meterials-card-btn:hover   {
    

    background: #FFFFFF;
    border: 1px solid #FBD846;
}
.Hardware-meterials-card-btn:hover   {
    

    background: #FFFFFF;
    border: 1px solid #FBD846;
}

.Hardware-meterials-card:hover {
    border: 1px solid #FBD846;
}

@media (max-width:420px) {
    .Hardware-meterials-card {
        max-width: 300px;
        
    }
    .Hardware-meterials-card-btn {
        width: 260px;
    }
    .Hardware-meterials-card p {
        font-size: 10px;
    }
}