button {
    cursor: pointer;
}

.home {
    width: auto;
}
.home-container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
}
.home-text {
    max-width: 530px;
}
.title>h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 43px;
    color: #333333;
}
.title p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    margin-top: 0;
}
.pluses {
    width: 640px;
    display: flex;
    height: auto;
    margin-top: 30px;
}


.pluses span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: #333333;
}

.home-btn {
    padding-left: 113px;
    padding-right: 113px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: linear-gradient(269.89deg, #FBD846 0.07%, #FFE888 99.89%);
    box-shadow: 10px 10px 20px rgba(255, 216, 111, 0.4);
    border-radius: 30px;
    border: none;
    height: 50px;

}

.kitchen-home {
    right: -350px;
    position: absolute;
    z-index: -1;
    width: auto;
    height: auto;
    object-fit: cover;
}

.btn-page {
    display: flex;
    align-items: center;
    margin-top: 40px;
}
.page {
    text-align: center;
    
}
.page-text {
    display: block;
    text-align: center;
    width: 260px;
}

.page img {
    text-align: center;
}

.plan {
    display: flex;
    align-items: center;
}

.measuring {
    display: flex;
    align-items: center;
    margin-top: 50px;

}

.colors {
    display: flex;
    align-items: center;
    margin-left: 20px;

}

.terms {
    display: flex;
    align-items: center;
    margin-top: 65px;
    margin-left: 20px;
}




@media (max-width:1250px) {
    .home-container {
        padding-left: 30px;
        position: static;
        
    }
    .title>h1 {
        font-size:calc(5px + (35 – 1) * ((100vw — 50px) / (1250 – 800)));
        line-height:calc(5px + (45 – 1) * ((100vw — 50px) / (1250 – 800)));
    }
    .title p {
        font-size:calc(5px + (18 – 0) * ((100vw — 5000px) / (1250 – 800)));
    }
}

@media (max-width:1050px) {
    .kitchen-home {
        display: none;
    }
    .head-btn {
        display: none;
    }
}

@media (max-width:870px) {
    .mesto {
        display: none;
    }
    .head-nav li {
        display: flex;
        align-items: center;
    }
}

@media (max-width:800px) {
    .title>h1 {
        font-size: 25px;
    }
    .title>p {
        max-width: 480px;
        font-size: 15px;
    }
    .terms span{
        width: 380px;
    }
}
@media (min-width:730px) {
    .burger-menu {
        display: none;
    }
}
@media (max-width:730px) {
    .head-nav li {
        display: none;
    }
    .head-btn {
        display: none;
    }
    .burger-menu {
        display: block;
    }
}

@media (max-width:600px) {
    .title>h1 {
        line-height: 30px;
    }
}

@media (max-width:680px) {
    .pluses-span span {
        font-size:15px;
    }
    .terms{
        max-width: 320px;
    }
    .measuring span {
        max-width: 130px;
    }
    .plan span {
        max-width: 120px;
    }
    .btn-page {
        display: block;
        /* text-align: center;
        margin-right: auto;
        margin-left: auto; */
        max-width: 300px;
    }
    .head-nav img {
        width: 80px;
        height: 30px;
    }
    .head-content-nav {
        height: 60px;
    }
    .head-nav {
        height: 60px;
    }
}
@media (max-width:590px){
    .head-qviz h2{
        font-size: 18px;
    }
    .head-qviz img {
        display: none;
    }
    .head-qviz span {
        display: none;
    }
}

@media (max-width:540px) {
    .head-content {
        display: none;
    }
    .pluses-span span {
        font-size:12px;
        line-height: 10px;
    }
    .terms{
        max-width: 230px;
        margin-top: 25px;
        margin-left: 10px;
    }
    .terms span {
        font-size: 10px;

    }
    .measuring span {
        max-width: 100px;
    }
    .measuring {
        margin-top: 25px;
    }
    .colors {
        margin-left: 10px;
    }
    .colors img {
        padding-right: 10px;
    }
    .plan span {
        max-width: 110px;
    }
    .home-container {
        padding-left: 10px;
    }
    .btn-page {
        margin-top: 15px;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }
    .popular-modals {
        margin-top: 0 !important;
    }
    .home {
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }
    .pluses {
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        max-width: 300px;
    }
    .home-btn {
        margin-left: auto;
        margin-right: auto;
    }
}
 
@media (max-width:400px) {
    .colors {
        max-width: 130px;
    }
    .terms {
        max-width: 160px;
    }
    .head-qviz h2 {
        font-size: 18px !important;
    }
}
