.product-catalog {
    width: auto;
    background: #FCFCFC;
}

.header-catalog {
    display: flex;
    justify-content: space-between;

    margin-bottom: 20px;
    margin-top: 70px;
}



.head-catalog h2 {
    margin: 0;
}



.sortirovka {
    width: 262px;
    height: 40px;
    background: #F0F0F0;
    border-radius: 30px;
    margin-top: auto;
    margin-bottom: auto; 
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-catalog {
    background: linear-gradient(269.89deg, #FBD846 0.07%, #FFE888 99.89%);
    box-shadow: 10px 10px 20px rgba(255, 216, 111, 0.4);
    border-radius: 30px;
    width: 360px;
    height: 66px;
    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
}

.btn-catalog-block {
    width: 360px;
    height: 66px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 60px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
    margin-bottom: 60px;
}

.header-modal-katalog-p