.progress_bar {

    bottom: 2px;
    left: 0;
    width: 0;
    height: 0;
    background: #c1c1c1;
}

.progress {
    height: 0;
    background: red;
    width: 0;
    transition: .3s ease-in-out;
}

.quiz_block {
    display: none;
}

.quiz_block.active {
    display: block;
}